/*Todo SCSS da Seção da Agenda está aqui*/
#agenda {
  h1 {
    color: $secondary-color;
    text-transform: uppercase;
  }

  .desktop-wrapper {
    background: #fff;
    z-index: 1;
    position: relative;
    margin: auto;
    padding: 10px 0 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -10px #000;
    overflow: hidden;
  }

  .header {
    .container {
      position: relative;

      span {
        color: #444;

        font: {
          font-family: "Roboto Condensed", sans-serif;
          size: 21px;
          weight: 700;
        }
      }

      h1 {
        margin-top: 5px;
        color: #919294;

        font: {
          size: 20px;
          weight: 300;
        }
      }

      .menu-toggle {
        width: 25px;
        height: 25px;
        background: #fff;
        padding: 24px;
        border-radius: 50%;
        direction: rtl;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 10px 30px -14px #000;
        position: absolute;
        top: 0;
        right: 0;

        span {
          display: block;
          width: 25px;
          height: 2px;
          background: #777;
          border-radius: 2px;
          transition: all 300ms ease;

          &:not(:last-child) {
            margin-bottom: 5px;
          }

          &:first-child {
            width: 20px;
          }

          &:last-child {
            width: 15px;
          }
        }

        &:hover span:first-child,
        &:hover span:last-child {
          width: 100%;
        }
      }

      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-left-color: #e8e8e8;
        position: absolute;
        bottom: -13px;
        right: 0px;
      }

      &::after {
        content: "";
        display: block;
        width: calc(100% - 10px);
        height: 2px;
        background-color: #e8e8e8;
        position: relative;
        top: 8px;
      }
    }
  }

  .today-box {
    background: url(../../assets/images/fundo-principal.png) center/cover;
    color: #fff;
    padding: 37px 40px;
    position: relative;
    box-shadow: 0px 0px 40px -9px #000;

    &::before {
      content: "";
      opacity: 0.4;
      z-index: -1; // CHILD /*negative*/ /* relative with .mobile-wrapper it's his parent background*/
      display: block;
      width: 100%;
      height: 40px;
      margin: auto;
      position: absolute;
      bottom: -13px;
      left: 50%;
      transform: translatex(-50%);
      border-radius: 50%;
    }

    .breadcrumb {
      font-weight: 300;
      position: relative;

      &::after {
        vertical-align: middle;
        font-size: 12px;
        font-weight: 100;
        display: inline-block;
        color: #fff;
        text-align: center;
        position: absolute;
        left: 45px;
        top: 3px;
      }
    }

    .date-title {
      font-size: 20px;
      margin: 7px 0 0 0;
      letter-spacing: 1px;
      font-weight: 300;
      color: #000;
      font-family: "Roboto Condensed", sans-serif;
    }

    .plus-icon {
      border: 2px solid rgba(#fff, 0.6);
      border-radius: 50%;
      box-shadow: 0px 10px 30px -14px #000;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 40px;
      transition: all 350ms ease;
      transition-timing-function: cubic-bezier(0.05, 1.8, 1, 1.57);

      &:hover {
        transform: translateY(-40%);
      }

      i {
        font-size: 22px;
        font-weight: 700;
        background: #fff;
        color: #777;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:active {
        top: 52%;
        transform: translatey(-52%);
        right: 38px;
        box-shadow: 0px 8px 30px -14px #000;
      }
    }
  }

  .upcoming-events {
    background: #fff;
    padding: 40px;

    .container {
      h3 {
        color: #333;
        font-size: 17px;
        margin-bottom: 30px;
        position: relative;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;

        &::after {
          color: rgba(0, 0, 0, 0.1);
          vertical-align: middle;
          font-size: 36px;
          font-weight: 100;
          display: inline-block;
          background: #fff;
          color: #919294;
          width: 38px;
          text-align: center;
          position: absolute;
          right: 60px;
          top: -10px;
        }
      }

      .events-wrapper {
        margin-bottom: 30px;

        .event {
          position: relative;
          margin-bottom: 25px;
          padding-left: 30px;
          font-family: "Roboto Condensed", sans-serif;

          i {
            font-size: 17px;
            position: absolute;
            left: 0;
          }

          .event__point {
            margin: 0;
            color: #555;
            text-transform: uppercase;
            font-family: "Roboto Condensed", sans-serif;
            font-weight: bold;
            letter-spacing: 1px;
          }

          .event__duration {
            position: absolute;
            top: 5px;
            right: 0;
            color: #999;
          }

          &.active {
            background: #e8e8e8;
            padding: 17px 0 5px 60px;
            margin-bottom: 38px;
            border-radius: 5px;

            &::after {
              content: "";
              display: block;
              width: 90%;
              height: 10px;
              background: #fff;
              border: 2px solid #ddd;
              border-top: 0;
              border-radius: 0 0 5px 5px;
              position: absolute;
              bottom: -10px;
              left: 50%;
              transform: translatex(-50%);
            }

            i {
              position: absolute;
              left: 25px;
              top: 17px;
            }

            .event__description {
              &::before,
              &::after {
                font-size: 32px;
                display: inline-block;
                color: #919294;
                text-align: center;
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
              }

              &::before {
                right: 45px;
                font-size: 22px;
                transition: all 550ms ease;
                transition-timing-function: cubic-bezier(0.05, 1.8, 1, 1.57);
              }
            }

            &:hover .event__description::before {
              transform: translate(15px, -12px);
            }
          }
        }
      }
    }
  }
}
