/*Arquivo Base do CSS*/

.spacing {
  display: block;
  height: 20px;

  &-lg {
    height: 30px;
  }

  &-sm {
    height: 3.5px;
  }

  &-md {
    height: 13px;
  }
}

body {
  text-rendering: optimizeLegibility;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
  background-image: url(../../assets/images/fundo-principal.png);
  background-size: cover;
  background-position: center;

  .fa-chevron-circle-up {
    font-size: 30px;
    color: $secondary-color;
  }

  @media (min-width: 1200px) {
    .fa-chevron-circle-up {
      font-size: 40px;
      color: $secondary-color;
    }
  }
}

#formulario {
  background: $bg-primary;
  padding: 10px;

  .block-title {
    h1 {
      text-transform: uppercase;
      text-align: center;
      color: $secondary-color;
      margin-top: 10px;
    }

    p {
      margin-top: 15px;
      text-align: center;

      @media (min-width: 1200px) {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  .send-form {
    .form-control {
      border-radius: 0%;
    }

    .btn-primary {
      color: #fff;
      background-color: $secondary-color;
      border-color: $secondary-color;
      padding: 10px 20px;
    }
  }
}

#conte-sua-historia {
  background-color: #fff;

  h1 {
    color: $secondary-color;
    text-transform: uppercase;
  }

  .accordion, .btn-primary {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 16px;
  }

  .active,
  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 45px;
    background-color: white;
    display: none;
    overflow: hidden;

    p {
      margin: 30px 0;
      text-align: justify;
    }

    .quote {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 30px;
        line-height: 1;
      }
    }
  }

  .accordion:after{
    content: "\f054";
    font-family: FontAwesome;
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .active:after{
    content: "\f078";
    font-family: FontAwesome;
  }

  div.panel {
    display: none;
  }

  div.panel.show {
    display: block !important;
    border: 1px solid #e7e7e5;
  }

  .btn-primary:focus, .btn-primary.focus{
    box-shadow: 0 0 0 .2rem rgba(246,211,48,0.5);
  }

}
