/* SCSS do Conte sua História */
#tell-history {
  background: $bg-primary;

  .about-right {
    @media (min-width: 1200px) {
      padding-right: 4%;
      margin-right: 99px;
    }

    h1 {
      color: $secondary-color;
      text-transform: uppercase;
    }

    p {
      font-size: 18px;
    }

    .btn-primary {
      background: #bb262c;
      border-color: #bb262c;
      color: #fff;
    }

    @media (max-width: 799px) {
      h1 {
        font-size: 28px;
        margin-top: 15px;
      }
    }
  }
}
