/* Padrões de Estilização de Fonte */
.sample-text-area {
  background: $white;
  padding: 100px 0 70px 0;
}
.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.5em;
}
