/* SCSS do Footer */
#rodape {
  background-image: url(../../assets/images/fundo-principal.png);
  background-size: cover;
  background-position: center;

  .block-logo-footer {
    @media (max-width: 800px){
        text-align: center;
    }
  }

  .block-social {
    @media(max-width: 800px){
        text-align: center;
    }
    
    margin-top: 15px;

    ul {
      > li {
        display: inline-block;
        padding-right: 10px;
        color: $secondary-color;

        @media (min-width: 1200px) {
          float: right;
        }

        a {
          font-size: 25px;
          color: $secondary-color;
        }
      }
    }
  }
}
