#galeria {
  background: $bg-primary;

  @media (max-width: 799px) {
    padding: 5%;
  }

  .about-right {
    @media (min-width: 1200px) {
      padding-right: 8%;
      padding-left: 8%;
    }

    h1 {
      color: $secondary-color;
      text-transform: uppercase;

      @media (max-width: 799px) {
        font-size: 28px;
      }
    }

    .btn-primary {
      background: #bb262c;
      border-color: #bb262c;
      color: #fff;
    }

    p {
      font-weight: 500;
      font-size: 18px;
    }
  }
}

#galeria-de-fotos {
  background: $bg-primary;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  padding-bottom: 70px;

  h1 {
    color: #bb262c;
    text-transform: uppercase;
    margin: 50px 0;
  }

  .row {
    .col-md-2 {
      padding: 5px;
    }
  }

  .rounded {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(246, 211, 48, 0.8);
  }

  .block:hover .overlay {
    opacity: 1;
  }

  .fa-search-plus {
    color: #bb262c;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .mobile-block {
    .btn-primary {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
      font-size: 20px;
    }

    .card-body {
      background: transparent;
    }
  }
}

#slider-fotos {
  h1 {
    color: #bb262c;
    text-transform: uppercase;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    background: grey;
    padding: 12px 15px;
    font-size: 20px;
    border-radius: 50%;
  }

  .carousel-indicators li {
    background-color: grey;
    border-radius: 50%;
    width: 10px;
    height: 10px;

    @media (max-width: 700px) {
      margin-right: 8px;
      height: 15px;
      width: 15px;
    }
  }

  .autor {
    font-weight: bold;
    color: #000;
    font-size: 16px;
  }

  .depoimento {
    font-size: 17px;
    line-height: 20px;
  }

  img {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    .row {
      justify-content: center;
    }

    .slider-area {
      margin-top: 50px;
    }

    .col-md-4 {
      padding-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #carouselGaleriaDepoimentos {
      margin-bottom: 40px;
    }
  }

  @media (max-width: 900px) {
    .carousel-indicators {
      bottom: -30px;
    }

    #carouselGaleriaDepoimentos {
      margin-bottom: 40px;
    }

    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }
  }
}

#response-modal {
  @media (min-width: 1200px) {
    .modal-dialog {
      max-width: 844px;
    }
  }

  .modal-content {
    background: transparent;
    border: none;
  }

  .modal-header {
    border-bottom: none;
  }
}
