.section-gap {
  padding: 120px 0;
}
.section-title {
  padding-bottom: 30px;
  h2 {
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      br {
        display: none;
      }
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Banner Area */

.banner-area {
  background: url(../../assets/images/fundo-principal.png) center;
  background-size: cover;

  @media (min-width: 1200px) {
    height: 900px;
  }

  @media (max-width: 640px) {
    height: 808px;
  }

  .btn-scroll {
    .fa-chevron-down {
      color: $secondary-color;
      font-size: 20px;
    }
  }

  .btn-primary {
    background: $secondary-color;
    border-color: $secondary-color;
    color: $primary-color;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 23px;
  }
}

.banner-content {
  text-align: center;
  z-index: 2;
  h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 1em;
    margin-top: 20px;
    span {
      font-weight: 700;
    }
    @include media-breakpoint-down(md) {
      font-size: 36px;
    }
    br {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    @include media-breakpoint-down(lg) {
      font-size: 45px;
    }

    @media (max-width: 414px) {
      font-size: 32px;
    }
  }
  @media (max-width: 1280px) {
    br {
      display: none;
    }
  }
  h4 {
    color: $secondary-color;
    margin-bottom: 6px;
    font-weight: 300;
    font-size: 20px;
  }

  .block-image {
    > img {
      margin-top: 87px;
    }
  }
}

.primary-btn {
  background: $white;
  border: 1px solid transparent;
  color: $black;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  &:hover {
    border: 1px solid $white;
    background: transparent;
    color: $white;
  }
}

.start-in {
  display: inline-flex;
  background-color: $primary-color;
  color: $white;
  padding: 5px 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
}
