.local-do-evento {
  background-color: $bg-primary;

  .modal-dialog {
    max-width: 760px;
  }

  .top-title {
    color: $primary-color;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .carousel-indicators > li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $secondary-color;
  }

  .carousel-indicators .active {
    background-color: $primary-color;
  }

  .about-right {
    h1 {
      margin-bottom: 15px;
      color: $secondary-color;
      text-transform: uppercase;
    }
    p {
      font-size: 18px;
    }

    .btn-primary {
      background: $secondary-color;
      border-color: $secondary-color;
      color: #fff;
    }

    padding-right: 8%;
    padding-left: 8%;

    @media(max-width: 799px){
      h1{
        font-size: 28px;
      }
    }

    @media (max-width: 1366px) {
      padding: 15px;
      p span {
        font-size: 10px;
      }
    }
  }
}

.about-left {
  @media (max-width: 700px) {
    .picture-restaurant {
      display: none;
    }
  }
}
