.sobre-evento {
  background: $bg-primary;
  .about-right {
    @media (min-width: 1200px) {
      margin-right: 105px;
    }

    @media(max-width: 799px){
      h1{
        font-size: 28px;
      }
    }

    h1 {
      color: $secondary-color;
      text-transform: uppercase;
    }

    .btn-primary {
      background: #bb262c;
      border-color: #bb262c;
      color: #fff;
    }

    p {
      font-weight: 500;
      font-size: 18px;
    }
    .top-title {
      color: $primary-color;
      letter-spacing: 2px;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    h1 {
      margin-bottom: 20px;
    }
    @media (max-width: 1024px) {
      p {
        margin-bottom: 8px;
      }
    }
    @media (max-width: 990px) {
      flex: 0 0 100%;
      max-width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
