/* Tabs Agenda */

#agenda {
  /* Style tab links */
  .tablink {
    background-color: #f6d330;
    color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 22px;
    width: 25%;
  }

  .tablink:hover {
    background-color: #bb262c;
    color: #f6d330;
  }

  .tabcontent {
    display: none;
    padding: 100px 0px;
    height: 100%;

    p {
      margin-bottom: 1rem;
    }

    .fa-clock{
      color: $text-color;
    }
  }
}
