//    Font Family

$secondary-font: "Roboto", sans-serif;
$primary-font: "Roboto Condensed", sans-serif;

/*--------------------------- VARIAÇÃO DE CORES----------------------*/

$primary-color: #f6d330;
$secondary-color: #bb262c;
$title-color: #222222;
$text-color: #777777;

$white: #fff;
$offwhite: #f9f9ff;
$black: #222;

$bg-primary: #f2f4f4;
